#barraPesquisa{
  width: 709;
  height: 60;
  top: 34px;
  left: 384px;
  border-radius: 8px;
}

#ds {
  width: 212;
  height: 44;
  left: 41;
  content: none;
  font-family: Inter;
  font-weight: 600;
  font-size: 36.4px;
  line-height: 100%;
  letter-spacing: -1%;
  color: #c92071;
}

.btn {
  background-color: #c92071;
  width: 114;
  height: 40;
  top: 44px;
  left: 1123px;
  color: white;
}

#footer {
  width: 1440;
  height: 454;
  background-color: #1f1f1f;
  color: white;
  text-align: center;
}

#cadastro{
  text-decoration: underline;
}

#carouselType1{
  font-family: Inter;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.75px;
  color: #F6AA1C;
}

#carouselType2{
  font-family: Inter;
  font-weight: 800;
  font-size: 64px;
  line-height: 66px;
  letter-spacing: 1px;
  color: #1F1F1F;
}

#carousel{
  flex: content;
}